*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: absolute;
}
.logo {
    width: 106px;
    height: 32px;
    top: 35px;
    left: 135px;
}
.navigation {
    height: 15%;
   
}
.nav_item {
    top: 40px;
    left: 420px;
    height: 20%;
    width: 25%;
   
}
.item {
    float: left;
    width: 25%;
    top: 40px;
    left: 420px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.background {
    background-image: url(../img/cover.png);
    background-size: cover;
    height: 900px;
}
.a {
    text-decoration: none;
    color: #737373;
}
.vector {
    top: 45px;
    right: 60px;
    color: #252B42;
}
.words {
    top: 185px;
    left: 195px;
    max-width: 25%;
}
.hed {  
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
}    
.paragrah {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #737373;
    margin: 0% 37% 0% 0%;
}
.button {
    top: 475px;
    left: 195px;
    min-width: 25%;
    text-align: center;
}
.item_but {
    border: #00A0C1 solid 1px;
    float: left;
    width: 50%;
    border-radius: 37px;
    padding: 3%;
    color: #00A0C1;
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.item_but:hover{
    border: #FFA62B solid 1px;
    color: white;    
    background:#FFA62B;
}
.block {
    background: white;
    width: 328px;
    height: 210px; 
    position: static; 
    box-shadow: 0px 13px 19px;
    padding: 35px 40px;
    
    
}

    
